
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  /* Menú de navegación */
  .navbar {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: color 0.3s;
  }
  
  .navbar ul li a:hover {
    color: #00bcd4;
  }
  

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em 0;
  }
  
  /* Sección de juegos */
  .games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .game-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .game-card img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .game-card h2 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .game-card p {
    color: #666;
    font-size: 0.9em;
  }
  
  .game-card a.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .game-card a.btn:hover {
    background-color: #008c9e;
  }
  
  /* efectos de la tarjetas del juego */
  .game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
  }
  
  footer a {
    color: #00bcd4;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  